body {
  background-image: url("../img/background2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(164, 207, 239);
}

.outside {
  display: flex;
}

.first_inner_div {
  /* display: center ; */
  margin-top: 7rem;
  width: 650px;
  height: 550px;
  border-radius: 5px;
  box-shadow: 0 4.5px 12px rgb(24, 22, 22), 0 4.5

.second_inner_div {
  
} 
12px rgb(24, 22, 22);
}



.outer_navigation_bar {
  display: flex;
}

header {
  /* flex-grow: 0; */
}

.navigation_bar {
  margin-top: 2rem;
  width: 650px;
  height: 90px;
  background: #383C2Fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 4.5px 12px rgb(24, 22, 22), 0 4.5px 12px rgb(24, 22, 22);
}

.navigation_bar header {
  font-size: 5rem;
  color: white;
  text-align: center;
  line-height: 4.5rem;
  background: wheat;
  user-select: none;
  border-radius: 2px;
}

.navigation_bar .link {
  font-size: large;
  padding-top: 2rem;
}


.link {
  font-size: 1rem;
  color: white;
  padding-top: 40px;
  border-top: 1px solid black;
}