body {
  background-image: url("../img/background2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(164, 207, 239);
}

.outside {
  display: flex;
}

.first_inner_div {
  display: flex; 
  margin-top: 7rem;
  width: 650px;
  height: 550px;
  border-radius: 5px;
  box-shadow: 0 4.5px 12px rgb(24, 22, 22), 0 4.5px 12px rgb(24, 22, 22);
}


.second_inner_div {
  padding: 1rem;
} 

.second_inner_div h1 {
  text-align: center;
}

.outer_navigation_bar {
  display: flex;
}

header {
  flex-grow: 0; 
}

.please_move {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.please_move form {
  margin-top: -0.6rem;
}

.please_move p {
  color: #E4EBEEff;
}

.navigation_bar {
  margin-top: 2rem;
  width: 650px;
  height: 90px;
  background: #383C2Fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 4.5px 12px rgb(24, 22, 22), 0 4.5px 12px rgb(24, 22, 22);
}

.navigation_bar header {
  font-size: 5rem;
  color: white;
  text-align: center;
  line-height: 4.5rem;
  background: wheat;
  user-select: none;
  border-radius: 2px;
}

.navigation_bar .link {
  font-size: large;
  padding-top: 2rem;
}


.link {
  font-size: 1rem;
  font-weight: 500;
  padding-top: 40px;
}  

.link :hover {
  color: antiquewhite;
}

.everything {
  display: flex;
}