@{
  Layout = "_Layout";
}

<h1>Who is the House of Recipes Team?</h1>

<h4>Lead Wizard:</h4>
<h4>Executive Wunderkind:</h4>
<h4>Vibrant Captain:</h4>


<h2>Contact the House of Recipes Team</h2>

<p>By <a href="mailto:test@notanemail.com">Email</a><p>

<p>On <a href="instagram.com/fakeprofiledoesnotexist">Instagram</a><p>