@{
  Layout = "_Layout";
}

<h1>House of Receipes</h1>
<h3>They're to die for!</h3>

<div class="">
  <header>Welcome Navi:</header>
  <br>
  <span>@Html.ActionLink("Check out Recipes", "Index", "Recipes")</span>
  <br>
  <span>@Html.ActionLink("Check out Tags", "Index", "Tags")</span>
  <br>
  <span>@Html.ActionLink("Create an account", "Index", "Account")</span>
</div>